.but1{
  background: linear-gradient(45deg, #4649ed , #e06aed , #4649ed );
  background-size: 300% 300%;
  background-position: bottom left;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  animation: diagonalShift 4s ease-in-out infinite;
  transition: transform 0.3s;
}

.but1:hover {
  transform: scale(1.04);
}

@keyframes diagonalShift {
  0% {
    background-position: bottom left;
  }
  50% {
    background-position: top right;
  }
  100% {
    background-position: bottom left;
  }
  
  
}

    